<div class='md-padding' layout="row" layout-wrap >
    <div flex-gt-sm="25" layout="column" ng-repeat="game in gamesCtrl.games">
        <md-card >
            <img ng-src="{{game.image}}" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{game.title}}</span>
                    <span class="md-subhead"><b>Template : </b>{{game.template.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button"><md-icon><i class="material-icons">delete</i></md-icon></md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
<md-button class="md-fab md-fab-bottom-right" aria-label="add" ng-click="gamesCtrl.openForm($event)">
    <md-icon><i class="material-icons">add</i></md-icon>
</md-button>

<script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog aria-label="New game session" flex="50">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>New game</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon aria-label="Close dialog"><i class="material-icons">close</i></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-input-container>
                        <label>Name : </label>
                        <input ng-model="user.company">
                    </md-input-container>
                    <md-input-container>
                        <label>Image : </label>
                        <input ng-model="user.company">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>Template</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option value="axe">Axe</md-option>
                            <md-option value="sword">Sword</md-option>
                            <md-option value="wand">Wand</md-option>
                            <md-option value="pen">Pen</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-click="submit()">Create</md-button>
            </md-dialog-actions>
            </form>
        </md-dialog>
</script>
<!--
<div class = "page-header">
    <h1>Games</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><input type="text" ng-model="gamesCtrl.newGame.title" class="form-control input-sm" placeholder="Game name"></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-12">
                            <img ng-if="gamesCtrl.newGame.image && gamesCtrl.newGame.image !== ''" ng-src="{{gamesCtrl.newGame.image}}" alt="{{gamesCtrl.newGame.image}}" class="img-responsive">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="image">Image url : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="url" ng-model="gamesCtrl.newGame.image" placeholder="http://" class="form-control input-sm" id="image">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <b>Template : </b>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control input-sm" ng-model="gamesCtrl.newGame.template" ng-options="template.name for template in gamesCtrl.templates"></select>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="panel-body">
                <button type="button" ng-click="gamesCtrl.createGame()" class="btn btn-primary pull-right">Save</button>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-repeat="game in gamesCtrl.games">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="gamesCtrl.deleteGame(game.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h3 class="panel-title">
                    {{game.title}}
                </h3>
            </div>
            <div class="panel-body">
                <img ng-src="{{game.image}}" alt="{{game.image}}" class="img-responsive">
                <b>Template : </b>{{game.template.name}}
            </div>
        </div>
    </div>
</div>
-->