
<!--<div class = "page-header">
    <h1>Game sessions</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><input type="text" ng-model="homeCtrl.newSession.name" class="form-control input-sm" placeholder="Session name"></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                           <b>Game : </b>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control input-sm" ng-model="homeCtrl.newSession.game" ng-options="game.title for game in homeCtrl.games"></select>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-group">
                        <label for="descripton">Description : </label>
                        <textarea ng-model="homeCtrl.newSession.description" class="form-control" rows="5" id="descripton"></textarea>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-5">
                           <b>Game master : </b>
                        </div>
                        <div class="col-md-7">
                            <select class="form-control input-sm" ng-model="homeCtrl.newSession.gameMaster" ng-options="(player.firstName+' '+player.lastName) for player in homeCtrl.players"></select>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <b>Players : </b>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="input-group input-group-sm">
                                        <select class="form-control input-sm" ng-model="homeCtrl.newPlayer" ng-options="(player.firstName+' '+player.lastName) for player in homeCtrl.players"></select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="homeCtrl.addPlayer()">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                </li>
                                <li class="list-group-item" ng-repeat="player in homeCtrl.newSession.players track by $index">
                                    <a href><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> {{player.firstName}} {{player.lastName}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="panel-body">
                <button type="button" class="btn btn-primary pull-right" ng-click="homeCtrl.addGameSession()">Save</button>
            </div>
        </div>
    </div>
    -->
    <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="one">
        <md-content class="md-padding" layout="row">
            <md-card ng-repeat="gameSession in homeCtrl.gameSessions">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{gameSession.name}}</span>
                        <span class="md-subhead">A {{gameSession.game.title}} adventure.</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img ng-src="{{gameSession.game.image}}" alt="{{gameSession.game.image}}" class="md-card-image">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button">
                        <i class="material-icons">remove_red_eye</i>
                    </md-button>
                    <md-button class="md-icon-button">
                        <i class="material-icons">delete</i>
                    </md-button>
                </md-card-actions>
            </md-card>
    </md-content>
      </md-tab>
      <md-tab label="two">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Two</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
          <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
      <md-tab label="three">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
    <!--
    <div class="col-md-4" ng-repeat="gameSession in homeCtrl.gameSessions">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="btn-group btn-group-sm pull-right">
                    <a href ui-sref="gameSessionDetail({gameSessionId: gameSession.id})" class="btn btn-default"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    <button type="button" class="btn btn-default" ng-click="homeCtrl.deleteGameSession(gameSession.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </div>
                <h3 class="panel-title"><a href ui-sref="gameSessionDetail({gameSessionId: gameSession.id})"><b>{{gameSession.name}}</b></a></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><b>Game : </b>{{gameSession.game.title}}</li>
                <li class="list-group-item"><b>Game master : </b>{{gameSession.gameMaster.firstName}} {{gameSession.gameMaster.lastName}}</li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <b>Players : </b>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="player in gameSession.players">{{player.firstName}} {{player.lastName}}</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="panel-body">
                <img ng-src="{{gameSession.game.image}}" alt="{{gameSession.game.image}}" class="img-responsive">
            </div>
        </div>
    </div>
</div>
-->