
<md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" aria-label="Show User List" ng-click="headerCtrl.toggleSidenav()">
        <i class="material-icons">menu</i>
    </md-button>
    <h1>Angular Material - Starter App</h1>
</md-toolbar>
<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 hide-print ng-isolate-scope _md" md-component-id="left" tabindex="-1">
    <header class="nav-header">
        <md-card>
 <img src="https://developers.google.com/experts/img/user/user-default.png" class="md-card-image" alt="image caption">
 <md-card-content>
   <h2>Card headline</h2>
   <p>Card content</p>
 </md-card-content>
 <md-card-actions layout="row" layout-align="end center">
   <md-button>Action 1</md-button>
   <md-button>Action 2</md-button>
 </md-card-actions>
</md-card>
    </header>
        <md-list>
            <md-list-item ng-href="#">Game sessions</md-list-item>
            <md-list-item ng-href="#">Games</md-list-item>
            <md-list-item ng-href="#">Players</md-list-item>
        </md-list>
</md-sidenav>